
        <%- include("./partials/head.ejs") %>
        <link rel="stylesheet" href="/css/404.css">
<%- include("./partials/header.ejs")%>
<body>
    <h1>The Page Path doesn't exist!!</h1>
</body>
</html>