<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <% if (allGames) {%>
        <%console.log("Games got rendered in on /home/game/browse"); %>
    <% } else {%>
        <h2>Not any content</h2>
        <% } %>

</body>
</html>