<!DOCTYPE html>
<html lang="en">
<head>
<%- include("./partials/head.ejs")  %>
</head>
<%- include("./partials/header.ejs") %>
<body>
    <form action="/home/game/register" method="post">
        <input type="url" name="link" id="link">
        <input type="text" name="name" id="name">
        <input type="text" name="description" id="description">
        <input type="submit" value="Submit">
    </form>
</body>
<%- include("./partials/footer") %>
</html>