<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<%- include("./partials/header.ejs") %>
<body>
    <form action="/home/anime/register" method="post">
        <label for="link"></label>
        <input type="url" name="link" id="link" placeholder="Link to IMG">
        <input type="text" name="name" id="name" placeholder="Name of the anime">
        <input type="number" name="episodes" id="episodes" placeholder="Episodes">
        <input type="text" name="description" id="description" placeholder="Description">
        <button type="submit">Register</button>
    </form>
    <%- include("./partials/footer") %>
</body>
</html>