html, body{
display: flex;
flex-direction: column;
justify-content: center;
margin: 0;
padding: 0;
width: 100%;
}
nav{
  display: flex;
  align-items: center;
  gap: 1vw;  
}
nav a{
    border: 0.1vw;
    border-radius: 1vw;
    text-align: center;
    color: white;
    background: var(--primaryPink);
    font-size: 2.5vw;
    font-weight: 400;
    font-family: var(--jomhuria);
    text-decoration: none;
    padding: 0.3vw;
    margin: 0;
}
header{
    background-color: var(--jetBlack);
    margin: 0;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    width:100%;
    height:fit-content;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    
}
header h1{
    color: white;
    font-family: var(--jomhuria);
    font-size: 3vw;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
header div{
    display: flex;
    justify-content: center;

    gap: 1vw;
}
body{
    background-color: var(--primaryPink);
}
#Logo{
    width: auto;
    height: 2vw;
    align-self: center;
}
footer{
    display: flex;
    justify-content: center;
    background: var(--jetBlack);
    margin: 0;
    padding: 1rem 0;
    width: 100%;
}

footer p, footer h1 {
    color: white;
}

  
:root{
    --jomhuria: "Jomhuria", serif;
    --primaryPink: #C6006B;
    --jetBlack: #0A0A0A;
}
@media  (max-width: 720px){
  nav a{
    font-size: 6vw;
  }  
  header h1{
    font-size: 8vw;
  }
  footer{
    position: absolute;
    bottom: 0;
  }
}