html, body{
display: flex;
flex-direction: column;
justify-content: center;
margin: 0;
padding: 0;
width: 100%;
background: var(--primary);
overflow-x: hidden;
}
header{
height: max-content;
padding: 1vw;
background: #220029;
display: flex;
align-items: center;
gap: 8vw;
width: 100%;
box-shadow: 0vw 0vw 0.7vw var(--shadow);
}
#Logo{
  display: flex;
  width: 20vw;
  height: auto;
}
nav{
  align-self:auto;
  display: flex;
  align-content: flex-end;
  gap: 2vw;
}
nav a{
  color: var(--text);
  font-family: var(--kameron);
  font-size: 1vw;
  text-decoration: none;
  padding: 0.5vw;
  letter-spacing: 0.03vw;
  border-radius: 0.4vw;
  box-sizing: border-box;
  box-shadow: 0vw 0vw 0.7vw var(--shadow);
}
.searchBar{
  display: flex;
  overflow: visible;
  gap: 0.3vw;
  border-radius: 0.4vw;
  box-shadow: 0 0 1vw var(--shadow);
}
.searchBar button{
  border-radius: 0.4vw;
  background: var(--primary);
  border: 0;
  width: 4vw;
  font-size: 1vw;
  box-sizing: border-box;
  color: var(--text);
}
button:hover{
  cursor: pointer;
}
.searchBar input{
  outline: none;
  border-radius: 0.4vw;
  width: 15vw;
  padding: 0.3vw;
  font-size: 1vw;
  background: var(--primary);
  box-sizing: border-box;
  color: var(--text);
  text-decoration: none;
  height: 2vw;
  border: 0;
}
.results{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 29vw;
  top: 5vw;
  width: 19vw;
  border-radius: 0.4vw;
  background: var(--primary);
  box-shadow: 0 0 0.7vw var(--shadow);
}
.results a{
  padding: 0.6vw;
  display: flex;
  text-decoration: none;
}
.results a img{
  height: auto;
  max-width: 3vw;
  width: fit-content;
}
.results a h1{
 font-size: 1vw;
 font-family: var(--kameron);
 padding-left: 0.3vw;
 color: var(--text);
 letter-spacing: 0.03vw;
 font-weight: 400;
}

footer{
    display: flex;
    justify-content: center;
    font-family: var(--katibeh);
    color: var(--text);
    width: 100%; 
    font-weight: 300;
    font-size: 2vw;
    padding: 1vw;
    margin-top: 2vw;
    box-shadow: 0 0 0.73vw var(--shadow);
}

:root{
  --primary: #220029;
  --text: #A200FF;
  --shadow: #7600BB;
  --katibeh: "Katibeh", serif; font-weight: 200;
  --kameron: "Kameron", serif;
}