html, body{
display: flex;
flex-direction: column;
justify-content: center;
margin: 0;
padding: 0;
width: 100%;
background: var(--primary);
overflow-x: hidden;
}
header{
height: max-content;
padding: 1vw;
background: #220029;
display: flex;
align-items: center;
gap: 8vw;
width: 100%;
box-shadow: 0vw 0vw 0.7vw var(--shadow);
}
#Logo{
  display: flex;
  width: 20vw;
  height: auto;
}
nav{
  align-self:auto;
  display: flex;
  align-content: flex-end;
  gap: 2vw;
}
nav a{
  color: var(--text);
  font-family: var(--kameron);
  font-size: 1vw;
  text-decoration: none;
  padding: 0.5vw;
  border-radius: 0.4vw;
  box-sizing: border-box;
  box-shadow: 0vw 0vw 0.7vw var(--shadow);
}


:root{
  --primary: #220029;
  --text: #A200FF;
  --shadow: #7600BB;
  --katibeh: "Katibeh", serif; font-weight: 300;
  --kameron: "Kameron", serif;
}