form{
    width: 30vw;
    align-self: center;
    height: fit-content;
    background-color:var(--jetBlack) ;
    margin: 10vw;
    display: flex;
    flex-direction: column;
    padding: 5vw;
}
#description{
height: fit-content;
}
form label{
color: white;
font-family: var(--jomhuria);
}
:root{
    --jomhuria: "Jomhuria", serif;
    --primaryPink: #C6006B;
    --jetBlack: #0A0A0A;
}