form{
    width: 30vw;
    align-self: center;
    height: fit-content;
    background-color:var(--jetBlack) ;
    margin: 10vw;
    display: flex;
    flex-direction: column;
    padding: 5vw;
}
input, textarea, button{
    font-family: var(--jomhuria);
    font-size: 1.3vw;
}
.error{
    color: red;
    font-family: var(--jomhuria);
    font-size: 1.3vw;
    font-weight: 300;
}
#description{
height: 10vw;
}
form label{
color: white;
font-family: var(--jomhuria);
font-size: 1.5vw;
}
:root{
    --jomhuria: "Jomhuria", serif;
    --primaryPink: #C6006B;
    --jetBlack: #0A0A0A;
}