

#allData div a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--text);
}
#allData div h1{
text-align: center;
padding: 1vw;
margin: 0;
font-family: var(--katibeh);
font-weight: 400;
color: var(--text);
font-size: 3vw;
}
#allData div{
    display: flex;
    flex-direction: column;
}
#allData{
    align-self: center;
    gap: 10em;
    display: flex;
    justify-content: center;
}
.dataBase{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1em;
}
.dataBase img{
    width: auto;
    align-self: center;
    height: 10vw;
}

.dataBase h2{
    font-size: 2vw;
    padding: 0.4vw;
    margin: 0;
    font-family: var(--katibeh);
    font-weight: 300;
    text-align: center;
    color: var(--text);
}

:root{
  --primary: #220029;
  --text: #A200FF;
  --shadow: #7600BB;
  --katibeh: "Katibeh", serif; font-weight: 300;
  --kameron: "Kameron", serif;
}
@media (max-width:720px) {
    .dataBase h2{
        font-size: 6vw;
    }
    .dataBase img{
        height: 18vw;
        width: fit-content;
    }
    #allData{
        gap: 0;
    }
    #allData div h1{
        font-size: 8vw;
    }
    footer{
        bottom: 0;
        position: absolute;
    }
}
