

#allData a{
    display: flex;
    justify-content: center;
    flex: 1;
}
#allData{
    gap: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dataBase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    padding: 1em;
}
.dataBase img{
    width: auto;
    height: 6em;
}

