body, html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#allData a{
    display: flex;
    justify-content: center;
}
#allData{
    gap: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dataBase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    padding: 1em;
}
.dataBase img{
    width: auto;
    height: 6em;
}

  