

#allData div a{
    display: flex;
    justify-content: center;
    flex: 1; 
    text-decoration: none;
    color: white;
}
#allData div h1{
text-align: center;
align-content: center;
padding: 1vw;
margin: 0;
font-family: var(--jomhuria);
font-weight: 400;
color: white;
font-size: 3vw;
}
#allData div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
#allData{
    gap: 6em;
    display: flex;
    justify-content: center;
}
.dataBase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    padding: 1em;
}
.dataBase img{
    width: auto;
    height: 10vw;
}

.dataBase h2{
    font-size: 2vw;
    padding: 0.4vw;
    margin: 0;
    font-family: var(--jomhuria);
    font-weight: 400;
    text-align: center;
}
:root{
    --jomhuria: "Jomhuria", serif;
    --primaryPink: #C6006B;
    --jetBlack: #0A0A0A;
}

